mixin footer2(options)
  - options = options ? options : {};

footer.footer.footer_order
  ul.footer-menu
    li.footer-menu__item
      a(href="#") Home
    li.footer-menu__item
      a(href="#") FAQ
    li.footer-menu__item
      a(href="#") Contact Us
    li.footer-menu__item
      a(href="#") Terms of service
    li.footer-menu__item
      a(href="#") Privacy Policy
