extends /_includes/layout.jade

block title
  title Lightpoint
  meta(name="description", content="")

block content
  .wrapp
    +header
    include /_includes/content.jade
  include /_includes/popup.jade
+footer
