extends /_includes/layout2.jade

block title
  title Lightpoint
  meta(name="description", content="")

block content
  .wrapp.wrapp_order
    +header2
    include /_includes/order.jade
  include /_includes/popup.jade
+footer2
