.footer{
  border-top: 1px solid rgba(0,0,0,.1);
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  justify-content: center;
  margin-top: 60px;
  &__copyright{
    position: absolute;
    left: 40px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }
  &-menu{
    text-align: center;
    display: block;
    &__item{
      display: inline-block;
      font-size: 1rem;
      margin: 0 10px;
      color: rgba(0, 0, 0, 0.6);
      transition: color .3s ease;
      &:hover{
        color: #000;
      }
    }
  }
  &_order{
    margin-right: 360px;
  }
}
