@media(max-width: 1320px){
  html{
    font-size: 13px;
  }
  .benefits{
    &-list{

    }
  }
  .container{
    padding: 0 20px;
  }
}

@media(max-width: 1280px){
  .options{
    flex-direction: column;
    align-items: center;
    &__item{
      margin: 20px 0 0;
      min-width: 300px;
      width: 50%;
    }
  }
}

@media (max-width: 900px){
  .footer{
    &_order{
      margin-right: 0;
    }
  }
  .wrapp{
    &_order{
      margin-right: 0;
    }
  }
  .your-order{
    position: static;
    height: auto;
    width: auto;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px){
  html{
    font-size: 12px;
  }
  .offers{
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    &__item{
      width: auto;
      margin-top: 30px;
    }
  }
  .benefits{
    &-list{
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      &__item{
        width: auto;
        max-width: 500px;
        margin-top: 30px;
      }
    }
  }
  .slider{
    &__text{
      width: 70%;
    }
    .slick-next{
      right: 20px;
    }
    .slick-prev{
      left: 20px;
    }
  }
}

@media(max-width: 600px){
  .header{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  .logo{
    margin: 10px;
    img{
      width: 100%;
    }
  }
  .footer{
    height: auto;
    padding: 20px 0;
    text-align: center;
    display: flex;
    line-height: 20px;
    flex-direction: column-reverse;
    &__copyright{
      position: static;
      margin-top: 10px;
    }
    &-menu{
      &__item{
        display: block;
      }
    }
  }
}

@media(max-width: 425px){
  .slider__title{
    font-size: 2rem;
  }
  .order{
    &-wrap{
      padding: 0 20px;
    }
  }
  .account{
    &-soc{
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
      &__item{
        margin-top: 15px;
      }
    }
  }
}
